<p>Hi,</p>

<p>Click the link below to sign in:</p>

<p><%= link_to "Sign in", @magic_link_url %></p>

<p>This link will expire in 15 minutes.</p>

<p>If you didn't request this, you can safely ignore this email.</p>
